<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link th:href="@{/css/main.css}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<meta charset="UTF-8">

</head>
<header>
	<div>
		<h1><i class="bi bi-star-half"></i> sta</h1>
	</div>
</header>

<body>
	<div class="containers">

		<div class="sidebar">
			<ul class="list-group list-group-flush">
				</br>
				<a class="list-group-item" type="button" href="http://localhost:8080/board"
					style="background-color: #f0f0f0;">
					<h4><i class="bi bi-house-door-fill"></i> Home</h4>
				</a>
				</br>
				<a class="list-group-item" style="background-color: #f0f0f0;">
					<h4><i class="bi bi-search"></i> 검색</h4>
				</a>
				</br>
				<a class="list-group-item" style=" background-color: #f0f0f0;">
					<h4>
						<img th:if="${img ne null}" th:src="${img}"
							style="width:50px ; height: 50px; border-radius: 50%; margin-right: 10px; border: 1px solid #000;">
						<img th:if="${img == null}" th:src="@{/uploads/final/main.jpg}"
							style="width:50px ; height: 50px; border-radius: 50%; margin-right: 10px; border: 1px solid #000;">
						프로필
					</h4>
				</a>
				</br>
				<div class="dropdown">
					<a class="list-group-item " type="button" data-bs-toggle="dropdown" aria-expanded="false"
						style="background-color: #f0f0f0;">
						<h4><i class="bi bi-list"></i>더보기</h4>
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/security-login/logout">
								<h5><i class="bi bi-person-fill-dash"></i> 로그아웃
							</a></h5>
						</li>
						<li><a class="dropdown-item" id="userupdate">
								<h5><i class="bi bi-person-bounding-box"></i> 회원정보</h5>
							</a></li>
						<li><a class="dropdown-item" id="userdelete">
								<h5><i class="bi bi-person-bounding-box"></i> 회원탈퇴</h5>
							</a></li>
						<li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#Modal"
								data-bs-whatever="@mdo">
								<h5><i class="bi bi-plus-square"></i>글작성</h5>
							</a></li>
					</ul>



				</div>
			</ul>

		</div>


		<div class="content" id="contentid">

			<div id="mainboard" class="container">

			</div>


			<!-- 글작성 모달 -->
			<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="ModalLabel">글작성</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>

						<div class="modal-body">
							<div class="mb-3">
								<label for="content" class="col-form-label">사진:</label>
								<input id="boardfile" type="file" multiple>
								<div id="carouselExampleIndicators" class="carousel slide">
									<div id="carousel-inner" class="carousel-inner">
										<div id="imgdiv" class="carousel-item active" hidden>
											<img id="imagePreview1" class="d-block w-100" style="height: 300px; "
												src="">
											<input type="hidden" id="boardimg1" name="boardimg1" value="">
										</div>

									</div>


									<button class="carousel-control-prev" type="button"
										data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
										<span class="carousel-control-prev-icon" aria-hidden="true"></span>
										<span class="visually-hidden">Previous</span>
									</button>
									<button class="carousel-control-next" type="button"
										data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
										<span class="carousel-control-next-icon" ariahidden="true"></span>
										<span class="visually-hidden">Next</span>
									</button>
								</div>

							</div>

							<div class="mb-3">
								<label for="content" class="col-form-label">내용:</label>
								<textarea class="form-control" id="content" required></textarea>
							</div>

						</div>


						<div class="modal-footer">
							<button type="button" id="createButton" class="btn btn-primary">업로드</button>
						</div>
					</div>
				</div>
			</div>



		</div>








		<div id="boardupdatemodal">

		</div>
	</div>

</body>

</html>

<script th:inline="javascript">
	$(document).ready(function () {
		// 서버 API의 URL 및 필요한 HTML 엘리먼트 가져오기
		const apiURL = '/api/board';
		const mainboard = $('#mainboard');
		const createModal = $('#Modal'); // 글 작성 모달
		let loggedInUserNickname = /*[[${nickname}]]*/'';
		const imageInput = $('#boardfile');
		const boardupdatemodal = $('#boardupdatemodal');
		const contentid = $('#contentid');
		const userdelete = $('#userdelete');

		$(`#userdelete`).on('click', function () {
			const confirmation = confirm('회원탈퇴 계속하시겠습니까?');
			if (confirmation) {
				$.ajax({
					url: apiURL + "/deleteAlls",
					type: "POST",
					processData: false,
					contentType: false,
					success: function () {
						
						$.ajax({
							url: "/security-login/deleteUser",
							type: "GET",
							processData: false,
							contentType: false,
							success: function (redirectUrl) {
								 window.location.href = redirectUrl;
							}
						});
					}
				});
			}
		});

		$(`#userupdate`).on('click', function () {
			mainboard.empty();
			contentid.empty();
			$.get('/security-login/info', function (user) {
				const defaultImage = '/uploads/final/main.jpg';
				contentid.append(`
				<div class="container">
					
					<div class=" card mb-3"  style="max-width: 1000px;">
						
						  <div class="row g-0">
							  
							<div class="col-md-4 text-bg-light" id="ImageupdateInput"> 
								
									<img id="previewImageupdate" src="${user.img ? user.img : defaultImage}" class="img-fluid rounded-start" style="width:100% ; height: 87.9%;" >
	 								<input id="originalImg" type="hidden" value="${user.img}" >
	 							<div class="card-footer"  >
							  		<input class="form-control" type="file" id="imagefileupdate" >
								</div>
							</div>
							
							<div class="col-md-8"> 
								<div class="card-body">
									
							        <label class="col-form-label">닉네임</label>
							        <div class="form-floating">
								        <input class="form-control " id="nicknameval" type="text" value="${user.nickname}"  >
								        <label for="nicknameval" >
										   <span id="nicknamevals">
											</span>		
										</label>
							        </div>
							       
							        <label class="col-form-label" >자기소개</label>
							        <input class="form-control" id="textval" type="text" value="${user.text}" " >
							        
							        <label class="col-form-label" >비밀번호</label>
							        <div class="form-floating">
							        	<input class="form-control" id="passwordval" type="password" >
							       	    <label for="passwordval" >
											   <span  id="passwordvals">
											</span>	
										   </label>
							        </div>
							       	
							        <label class="col-form-label" >비밀번호 확인</label>
							        <div class="form-floating">
							        	<input class="form-control" id="passwordcheckval" type="password" >
							    	    <label for="passwordcheckval">
											<span  id="passwordcheckvals">
											</span>	
										</label>
							        </div>
							    
							    </div>
							   
							   	<div class="card-footer text-end">
						  			 <button class="btn btn-outline-info" type="button" id="updatebtn">수정</button>
						  		</div>
						  	</div>	
						  
						</div>
					</div>
					
				</div>
					
				`);
				const imagefileupdate = $('#imagefileupdate');
				const previewImageupdate = $('#previewImageupdate');
				imagefileupdate.on("change", function () {
					// 이미지를 선택하면 미리보기 이미지를 설정합니다.
					const file = imagefileupdate[0].files[0];
					const imageUrl = URL.createObjectURL(file);

					previewImageupdate.attr('src', imageUrl);

					const formData = new FormData();
					formData.append('file', file);

					$.ajax({
						url: "/security-login/upload",
						type: "POST",
						data: formData,
						processData: false,
						contentType: false,
						success: function (uniqueFileName) {

							const imgField = $('<input>', {type: "hidden", id: "imgval", value: uniqueFileName});

							$('#ImageupdateInput').append(imgField);
						}
					});
				});





				$(`#updatebtn`).on('click', function () {
					const nicknameval = $('#nicknameval').val();
					const textval = $('#textval').val();
					const passwordval = $('#passwordval').val();
					const passwordcheckval = $('#passwordcheckval').val();
					const imgval = $('#imgval').val();
					const originalImgs = $('#originalImg').val();

					fetch('/security-login/userUpdate', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
						},
						body: JSON.stringify({
							nickname: nicknameval,
							text: textval,
							password: passwordval,
							passwordCheck: passwordcheckval,
							img: imgval,
							originalImg: originalImgs
						}),

					})
						.then(response => {

							if (!response.ok) {
								return response.json().then(data => {

									if (data.nickname) {

										document.getElementById('nicknameval').classList.add('is-invalid');
										document.getElementById('nicknamevals').textContent = data.nickname;
									} else {
										document.getElementById('nicknamevals').textContent = "";
									}

									if (data.password) {
										document.getElementById('passwordval').classList.add('is-invalid');
										document.getElementById('passwordvals').textContent = data.password;
									} else {
										document.getElementById('passwordvals').textContent = "";
									}

									if (data.passwordCheck) {
										document.getElementById('passwordcheckval').classList.add('is-invalid');
										document.getElementById('passwordcheckvals').textContent = data.passwordCheck;
									} else {
										document.getElementById('passwordcheckvals').textContent = "";
									}



								});
							}
							else if (response.ok) {
								window.location.href = '/security-login/logout';

							}

						})




				});

			});
		});




		// 페이지가 로드될 때 게시글 목록을 업데이트
		function updateBoardList() {
			$.get(apiURL, function (data) {
				mainboard.empty(); // 게시판 목록 초기화

				// 각 게시글에 대한 정보를 목록에 추가
				data.forEach(function (item) {
					const defaultImage = '/uploads/final/main.jpg';
					const itemString = JSON.stringify(item);
					const imageUrls = [item.boardimg1, item.boardimg2, item.boardimg3, item.boardimg4, item.boardimg5].filter(Boolean);
					let currentPage = 0;
					// 각 수정 버튼에 고유한 ID 할당
					const boardUpdateBtnId = `boardupdate-${item.boardid}`;
					const modalId = `exampleModal3-${item.boardid}`;


					mainboard.append(`
		                <div class="card" id="card">
		                    <div class="card-header " style="display: flex; justify-content: space-between; align-items: center;">
		                        <div style="display: flex; align-items: center;">
		                            <img src="${item.img ? item.img : defaultImage}" style="width:40px ; height: 40px; border-radius: 50%; margin-right: 10px; border: 1px solid #000;">
		                            <h5 style="margin: 0;">${item.nickname} • ${item.timeDifference}</h5>
		                        </div>
		                        ${loggedInUserNickname === item.nickname ? `
		                            <button type="button" style="float: right;" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#${modalId}">
		                                •••
		                            </button>` : ''}
		                        <div class="modal fade" id="${modalId}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		                            <div class="modal-dialog modal-dialog-centered ">
		                                <div class="modal-content">
		                                    <ul class="list-group ">
		                                        <!-- 각 수정 버튼에 고유한 ID 할당 -->
		                                       <li id="${boardUpdateBtnId}" data-bs-toggle="modal" data-bs-target="#update-${item.boardid}" data-bs-info='${itemString}'class="list-group-item list-group-item-action text-center fw-semibold ">수정하기</li>
		
		                                        <li id="delete-${boardUpdateBtnId}"  class="list-group-item list-group-item-action text-center fw-semibold ">삭제하기
		                                        </li>
		                                        <li data-bs-dismiss="modal" class="list-group-item list-group-item-action text-center fw-semibold ">
		                                            취소</li>
		                                    </ul>
		                                </div>
		                            </div>
		                        </div>
		                    <div class="modal fade" id="update-${item.boardid}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				            	<div class="modal-dialog modal-dialog-centered ">
									
		      							<div class="modal-content">
											  
											<div class="modal-header">
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											
											<div class="modal-body">
												 
												<div id="board-imgs-${item.boardid}" class="carousel slide">
													<div class="carousel-inner">
														${imageUrls.map((imageUrl, index) => `
						                                    <div id="img-${index}" class="carousel-item ${index === 0 ? 'active' : ''}">
																
						                                        <img src="${imageUrl}"  class="d-block w-100" style="height: 400px;"  alt="Image ${index + 1}">
						                                    </div>
						                                    
						                                `).join('')}
						                            </div>
						                            <button class="carousel-control-prev" type="button" data-bs-target="#board-imgs-${item.boardid}" data-bs-slide="prev">
						                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						                            </button>
						                            <button class="carousel-control-next" type="button" data-bs-target="#board-imgs-${item.boardid}" data-bs-slide="next">
						                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
						                            </button>
						                        </div>
						                        <br/>
						                        <textarea class="form-control" id="contentupdate-${item.boardid}" required>${item.content}</textarea>
											</div>
				                        	<div class="modal-footer">
												<button type="button" id="updates-${item.boardid}" class="btn btn-primary">수정하기</button>
											</div>
				                        </div>
				                    </div>
				                </div>
		                    </div>
		                    <div id="cardbody" class="card-body" >
		                        <div id="board-img-${item.boardid}" class="carousel slide">
		                            <div class="carousel-inner">
		                                ${imageUrls.map((imageUrl, index) => `
		                                    <div class="carousel-item ${index === 0 ? 'active' : ''}">
		                                        <img src="${imageUrl}" class="d-block w-100" style="height: 400px;"  alt="Image ${index + 1}">
		                                    </div>
		                                `).join('')}
		                            </div>
		                            <button class="carousel-control-prev" type="button" data-bs-target="#board-img-${item.boardid}" data-bs-slide="prev">
		                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		                            </button>
		                            <button class="carousel-control-next" type="button" data-bs-target="#board-img-${item.boardid}" data-bs-slide="next">
		                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
		                            </button>
		                        </div>
		                    </div>
		                   	<div class="card-footer text-body-secondary">
								   ${item.content}
							</div>	 
		                    <div class="card-footer text-body-secondary">
								<div class="input-group mb-3">
								  <input type="text" class="form-control" id="ripple-input${item.boardid}"; aria-describedby="ripple-create${item.boardid}">
								  <button class="btn btn-outline-info" type="button" id="ripple-create${item.boardid}">댓글</button>
								</div>
								<div id="ripples-${item.boardid}">
							
							
							</div>
							<div class="card-footer" id="ripple-${item.boardid}">
							
							
							</div>
								
								<a id="ripple-plus-${item.boardid}" class="card-link">더보기</a>
		                    </div>
		                </div>
		                <br/>
		            `);




					ripplelists()


					$(`#ripple-create${item.boardid}`).on('click', function () {

						const rippleinputSelector = `#ripple-input${item.boardid}`;
						let inputval = $(rippleinputSelector).val();
						if (inputval === '' || inputval === null) {
							alert("내용을 입력해주세요")
						} else {
							fetch(apiURL + '/ripple', {
								method: 'POST',
								headers: {
									'Content-Type': 'application/json',
								},
								body: JSON.stringify({
									ri_content: inputval,
									boardid: item.boardid

								}),

							})

								.then(() => {


									updateBoardList();
								})
								.catch(error => console.error('Error during ripple request:', error));
						}
					});
					function ripplelists() {
						$.get(apiURL + `/ripple?boardid=${item.boardid}&page=${currentPage}&size=10`, function (dataList) {
							const rippleid = $(`#ripple-${item.boardid}`);
							const ripple = $(`#ripples-${item.boardid}`);


							ripple.empty();

							if (dataList.content.length > 0) {
								const data = dataList.content[0]; // 첫 번째 데이터만 사용

								ripple.append(`
								
				                <div class="card">
				                    <div class="card-body d-flex flex-row justify-content-between">
				                        <h6 class="card-title">
				                            <img src="${data.img ? data.img : defaultImage}" style="width:40px ; height: 40px; border-radius: 50%; margin-right: 10px; border: 1px solid #000;">
				                            ${data.nickname}
				                            • ${data.timeDifferences}
				                        </h6>
					                        <div class="ml-auto">
					                            <div class="dropdown">
					                                ${loggedInUserNickname === data.nickname ? `
					                                    <button class="btn btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
					                                        •••
					                                    </button>` : ''}
					
					                                <ul class="dropdown-menu dropdown-menu-dark">
					                                    <li><a class="dropdown-item active" id="ripple-update-${data.ri_id}" data-bs-toggle="modal" data-bs-target="#ripple-modals-${data.ri_id}" >수정</a></li>
					                                    <li><a class="dropdown-item" id="ripple-deletes-${data.ri_id}">삭제</a></li>
					                                </ul>
					                            </div>
					                        </div>
				                    </div>
					                <div class="container">
					                	<h5 class="card-text" style="margin-bottom:20px;" >${data.ri_content}</h5>
					                </div>
					             </div>
					             <div class="modal" id="ripple-modals-${data.ri_id}" tabindex="-1">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="card-title"> 
												<img src="${data.img ? data.img : defaultImage}" style="width:40px ; height: 40px; border-radius: 50%; margin-right: 10px; border: 1px solid #000;">	
													${data.nickname} • ${data.timeDifferences}
												</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<textarea class="form-control" id="ripple-ricontents-${data.ri_id}" required>${data.ri_content}</textarea>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-primary" id="update-ricontents-${data.ri_id}">저장</button>
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
											</div>
										</div>
									</div>
								</div>
				            `);


								$(`#update-ricontents-${data.ri_id}`).on('click', function () {
									const rippletextarea = $(`#ripple-ricontents-${data.ri_id}`).val();
									if (rippletextarea == '' || null) {
										alert("내용을 입력해주세요");
									} else {
										fetch(apiURL + '/rippleUpdate', {
											method: 'POST',
											headers: {
												'Content-Type': 'application/json',
												// 여기에 필요한 다른 헤더들을 추가할 수 있습니다.
											},
											body: JSON.stringify({
												ri_content: rippletextarea,
												ri_id: data.ri_id
											}), // yourData에는 PATCH 요청으로 보낼 데이터가 들어갑니다.

										})

											.then(() => {

												$(`#ripple-modals-${data.ri_id}`).modal('hide');
												ripple.empty();
												ripplelists();
											})
											.catch(error => console.error('Error during PATCH request:', error));
									}
								});
								$(`#ripple-deletes-${data.ri_id}`).on('click', function () {
									if (confirm("삭제하시겠습니까?")) {
										fetch(apiURL + '/rippledelete', {
											method: 'DELETE',
											body: JSON.stringify({
												ri_id: data.ri_id
											}),
											headers: {
												'Content-Type': 'application/json',
											},
										})
											.then(() => {
												ripple.empty();
												ripplelists();
											})
											.catch(error => console.error('Error during delete request:', error))

									}

								});





							};


							$(`#ripple-plus-${item.boardid}`).on('click', function () {
								currentPage = 0;
								rippleid.empty();
								ripplelist();
							});





							function ripplelist() {
								$.get(apiURL + `/ripple?boardid=${item.boardid}&page=${currentPage}&size=10`, function (dataList) {


									dataList.content.forEach(data => {

										rippleid.append(`
								
							            <div class="card">
							                <div class="card-body d-flex flex-row justify-content-between">
							                    <h6 class="card-title"> 
												 <img src="${data.img ? data.img : defaultImage}" style="width:40px ; height: 40px; border-radius: 50%; margin-right: 10px; border: 1px solid #000;">	
													${data.nickname}
													   • ${data.timeDifferences}
												</h6>
							                    <div class="ml-auto">
							                        <div class="dropdown">
														${loggedInUserNickname === data.nickname ? `
				                           				<button class="btn btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							                                •••
							                            </button>` : ''}
							                            
							                            <ul class="dropdown-menu dropdown-menu-dark">
							                                <li><a class="dropdown-item active" id="ripple-update-${data.ri_id}" data-bs-toggle="modal" data-bs-target="#ripple-modal-${data.ri_id}" >수정</a></li>
							                                <li><a class="dropdown-item" id="ripple-delete-${data.ri_id}">삭제</a></li>
							                            </ul>
							                        </div>
							                    </div>
							                </div>
							                <div  class="container">
							                	<h5 class="card-text " style="margin-bottom:20px;" >${data.ri_content}</h5>
							                </div>
							                
							                <div class="modal" id="ripple-modal-${data.ri_id}" tabindex="-1">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="card-title"> 
															 <img src="${data.img ? data.img : defaultImage}" style="width:40px ; height: 40px; border-radius: 50%; margin-right: 10px; border: 1px solid #000;">	
																${data.nickname}
																   • ${data.timeDifferences}
															</h5>
															<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
														</div>
														<div class="modal-body">
															 <textarea class="form-control" id="ripple-ricontent-${data.ri_id}" required>${data.ri_content}</textarea>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-primary" id="update-ricontent-${data.ri_id}">저장</button>
															<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
														</div>
													</div>
												</div>
											</div>
							                
							                
							                
							                
							                
							            </div>
							        `);
										$(`#update-ricontent-${data.ri_id}`).on('click', function () {
											const rippletextarea = $(`#ripple-ricontent-${data.ri_id}`).val();
											if (rippletextarea == '' || null) {
												alert("내용을 입력해주세요");
											} else {
												fetch(apiURL + '/rippleUpdate', {
													method: 'POST',
													headers: {
														'Content-Type': 'application/json',
														// 여기에 필요한 다른 헤더들을 추가할 수 있습니다.
													},
													body: JSON.stringify({
														ri_content: rippletextarea,
														ri_id: data.ri_id
													}), // yourData에는 PATCH 요청으로 보낼 데이터가 들어갑니다.

												})

													.then(() => {

														$(`#ripple-modal-${data.ri_id}`).modal('hide');
														rippleid.empty();
														ripplelist();
													})
													.catch(error => console.error('Error during PATCH request:', error));
											}






										});
										$(`#ripple-delete-${data.ri_id}`).on('click', function () {
											if (confirm("삭제하시겠습니까?")) {
												fetch(apiURL + '/rippledelete', {
													method: 'DELETE',
													body: JSON.stringify({
														ri_id: data.ri_id
													}),
													headers: {
														'Content-Type': 'application/json',
													},
												})
													.then(() => {
														rippleid.empty();
														ripplelist();
													})
													.catch(error => console.error('Error during delete request:', error))

											}

										});
									});

									if (dataList.totalPages > 1) {
										const maxPagesToShow = 10;
										const totalPages = dataList.totalPages;

										const startPage = Math.floor((currentPage) / maxPagesToShow) * maxPagesToShow + 1;
										const endPage = Math.min(startPage + maxPagesToShow - 1, totalPages);

										rippleid.append(`
									  <nav aria-label="Page navigation example">
							            <ul class="pagination">
							                ${startPage === 1 ? '' : `<li class="page-item"><a class="page-link" aria-label="Previous" id="ripple-${item.boardid}-prev" data-page="${currentPage - maxPagesToShow}"><span aria-hidden="true">&laquo;</span></a></li>`}
							                
							                ${Array.from({length: endPage - startPage + 1}, (_, index) => {
											const pageNumber = startPage + index;
											return `<li class="page-item"><a class="page-link" id="page-link-${item.boardid}-${pageNumber}" data-page="${pageNumber}">${pageNumber}</a></li>`;
										}).join('')}
							                
							                ${endPage >= totalPages ? '' : `<li class="page-item"><a class="page-link" id="ripple-${item.boardid}-next" aria-label="Next" data-page="${startPage + maxPagesToShow}"><span aria-hidden="true">&raquo;</span></a></li>`}
							            </ul>
							        </nav>
									`);



										Array.from({length: endPage - startPage + 1}, (_, index) => {
											const pageNumber = startPage + index;

											$(`#page-link-${item.boardid}-${pageNumber}`).on('click', function () {

												$.get(apiURL + `/ripple?boardid=${item.boardid}&page=${pageNumber - 1}&size=10`, function (dataList) {
													currentPage = pageNumber - 1;
													rippleid.empty();
													ripplelist();
												});
											});

										});
										$(`#ripple-${item.boardid}-prev`).on('click', function () {
											const newPage = currentPage - maxPagesToShow < 0 ? 0 : currentPage - maxPagesToShow;
											$.get(apiURL + `/ripple?boardid=${item.boardid}&page=${newPage}&size=10`, function (dataList) {
												currentPage = newPage;
												rippleid.empty();
												ripplelist();
											});
										});

										$(`#ripple-${item.boardid}-next`).on('click', function () {
											const newPage = startPage + maxPagesToShow;
											$.get(apiURL + `/ripple?boardid=${item.boardid}&page=${newPage - 1}&size=10`, function (dataList) {
												currentPage = newPage - 1;

												rippleid.empty();
												ripplelist();
											});
										});



									};



								});


							};

						});

					};










					$(`#updates-${item.boardid}`).on('click', function () {
						let boardcontent = $(`#contentupdate-${item.boardid}`).val();
						if (boardcontent == '' || null) {
							alert("내용을 입력해주세요")
						} else {
							fetch(apiURL + '/update', {
								method: 'POST',
								headers: {
									'Content-Type': 'application/json',
									// 여기에 필요한 다른 헤더들을 추가할 수 있습니다.
								},
								body: JSON.stringify({
									content: boardcontent,
									boardid: item.boardid
								}), // yourData에는 PATCH 요청으로 보낼 데이터가 들어갑니다.

							})

								.then(() => {

									$(`#update-${item.boardid}`).modal('hide');
									updateBoardList();
								})
								.catch(error => console.error('Error during PATCH request:', error));
						}


					});
					$(`#delete-${boardUpdateBtnId}`).on('click', function () {
						if (confirm("삭제하시겠습니까?")) {
							fetch(apiURL + '/delete', {
								method: 'DELETE',
								body: JSON.stringify({
									boardimgs: imageUrls,
									boardid: item.boardid
								}),
								headers: {
									'Content-Type': 'application/json',
								},
							})
								.then(() => updateBoardList())
								.catch(error => console.error('Error during delete request:', error))
								.finally(() => $(`#${modalId}`).modal('hide'));
						} else {
							$(`#${modalId}`).modal('hide');
						}

					});

				});
			});
		};

		// 글 목록 업데이트 함수 호출 (페이지 로드 시)
		updateBoardList();

		// 글 작성 폼 처리
		$('#createButton').on('click', function () {
			let boardsimg = $('#boardimg1');
			if (boardsimg.val() === '') {
				alert("이미지를 업로드 해주세요")
				return;
			}

			var boardImages = [];
			for (let i = 1; i <= imageInput[0].files.length; i++) {
				const imagePath = $('#boardimg' + i).val();
				if (imagePath !== null && imagePath !== '') {
					boardImages.push(imagePath);
				} else {
					// 이미지가 없으면 루프 종료
					break;
				}
			}



			$.ajax({
				url: apiURL,
				method: 'POST',
				contentType: 'application/json',
				data: JSON.stringify({
					boardimgs: boardImages,
					content: $('#content').val()
				})
			})
				.done(function (response) {
					createModal.modal('hide');
					window.location.href = '/board';
				});


		});




		imageInput.on("change", function () {
			var formData = new FormData();
			const carouselInner = $('#carousel-inner');
			let a = 0;
			for (let i = 0; i < imageInput[0].files.length; i++) {
				let file = imageInput[0].files[i];
				formData.append('files', file);
				a = i + 1;
				if (i >= 1) {
					carouselInner.append(
						`<div class="carousel-item">` +
						`<img id="imagePreview${a}" class="d-block w-100" style="height: 300px;" src="">` +
						`<input type="hidden" id="boardimg${a}" name="boardimg${a}" value="">` +
						`</div>`
					);

				} else if (i == 0) {
					let imgdiv = document.getElementById('imgdiv');
					imgdiv.removeAttribute("hidden");
				}

				let imagePreviewtem = document.getElementById('imagePreview' + a);
				imagePreviewtem.src = URL.createObjectURL(file);


			}

			// 서버로 이미지 업로드
			$.ajax({
				url: apiURL + '/boardimg',
				method: 'POST',
				processData: false,
				contentType: false,
				data: formData,
				success: function (uniqueFileNames) {
					for (let i = 0; i < uniqueFileNames.length; i++) {
						let boardsimg = $('#boardimg' + (i + 1));
						boardsimg.val(uniqueFileNames[i]);
					}
				},
				error: function (xhr, status, error) {
					console.error(error);
				}
			});

		});




		// Modal 열기 버튼 클릭 이벤트 핸들러
		mainboard.on('click', '.show-details', function () {
			var boardid = $(this).data('boardid');
			showDetail(boardid);
		});

	});

</script>