<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

	<link th:replace="header.html" />

</head>

<body>


	<div class="sidebar">
		<div class="container">
			<p>home</p>
		</div>
	</div>


	<div class="content">

		<div id="mainboard" class="container">

		</div>


		<!-- 글작성 모달 -->
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal"
			data-bs-whatever="@mdo">글작성</button>

		<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="ModalLabel">글작성</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>

					<div class="modal-body">
						<div class="mb-3">
							<label for="content" class="col-form-label">사진:</label>
							<input id="boardfile" type="file" multiple>
							<div id="carouselExampleIndicators" class="carousel slide">
								<div id="carousel-inner" class="carousel-inner">
									<div id="imgdiv" class="carousel-item active" hidden>
										<img id="imagePreview1" class="d-block w-100" style="height: 300px; " src="">
										<input type="hidden" id="boardimg1" name="boardimg1" value="">
									</div>

								</div>


								<button class="carousel-control-prev" type="button"
									data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Previous</span>
								</button>
								<button class="carousel-control-next" type="button"
									data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
									<span class="carousel-control-next-icon" ariahidden="true"></span>
									<span class="visually-hidden">Next</span>
								</button>
							</div>

						</div>

						<div class="mb-3">
							<label for="content" class="col-form-label">내용:</label>
							<textarea class="form-control" id="content" required></textarea>
						</div>

					</div>


					<div class="modal-footer">
						<button type="button" id="createButton" class="btn btn-primary">업로드</button>
					</div>
				</div>
			</div>
		</div>



	</div>
	<!-- ------메뉴 설정 ------- -->

	<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-sm">
			<div class="modal-content">
				<ul class="list-group ">
					<li class="list-group-item list-group-item-action text-center fw-semibold ">수정하기</li>
					<li class="list-group-item list-group-item-action text-center fw-semibold ">삭제하기</li>
					<li class="list-group-item list-group-item-action text-center fw-semibold ">취소</li>
				</ul>
			</div>
		</div>
	</div>



</body>

</html>
<script th:inline="javascript">
	$(document).ready(function () {
		// 서버 API의 URL 및 필요한 HTML 엘리먼트 가져오기
		var apiURL = '/api/board';
		var mainboard = $('#mainboard');
		var createModal = $('#Modal'); // 글 작성 모달
		var loggedInUserNickname = /*[[${nickname}]]*/'';
		const imageInput = $('#boardfile');



		// 페이지가 로드될 때 게시글 목록을 업데이트
		function updateBoardList() {
			$.get(apiURL, function (data) {
				mainboard.empty(); // 게시판 목록 초기화

				// 각 게시글에 대한 정보를 목록에 추가
				data.forEach(function (item) {
					const defaultImage = '/uploads/final/main.jpg';
					
					const imageUrls = [item.boardimg1, item.boardimg2, item.boardimg3, item.boardimg4, item.boardimg5].filter(Boolean);
					mainboard.append(`
						<div class="card " >
							<div class="card-header " style="display: flex; justify-content: space-between; align-items: center;">
								<div style="display: flex; align-items: center;">
								  <img src="${item.img ? item.img : defaultImage}"  style="width:40px ; height: 40px; border-radius: 50%; margin-right: 10px; border: 1px solid #000;"  >
								  <h5 style="margin: 0;">${item.nickname} • ${item.timeDifference}</h5>
								
								</div>
								 ${loggedInUserNickname === item.nickname ? `
					                <button type="button" style="float: right;" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal3">
					                    •••
					                </button>` : ''}
							</div>
							<div id="cardbody" class="card-body" >
								<div id="board-img-${item.boardid}" class="carousel slide">
									 <div class="carousel-inner">
		                                ${imageUrls.map((imageUrl, index) => `
		                                    <div class="carousel-item ${index === 0 ? 'active' : ''}">
		                                        <img src="${imageUrl}" class="d-block w-100" style="height: 400px;"  alt="Image ${index + 1}">
		                                    </div>
		                                `).join('')}
		                            </div>
									<button class="carousel-control-prev" type="button" data-bs-target="#board-img-${item.boardid}" data-bs-slide="prev">
										<span class="carousel-control-prev-icon" aria-hidden="true"></span>
										<span class="visually-hidden">Previous</span>
									</button>
									<button class="carousel-control-next" type="button" data-bs-target="#board-img-${item.boardid}" data-bs-slide="next">
										<span class="carousel-control-next-icon" aria-hidden="true"></span>
										<span class="visually-hidden">Next</span>
									</button>
								</div>


							</div>
							<div class="card-footer text-body-secondary">
								댓글
							</div>
						</div>
						<br/>
					`);
				});
			});
		}

		// 글 목록 업데이트 함수 호출 (페이지 로드 시)
		updateBoardList();

		// 글 작성 폼 처리
		$('#createButton').on('click', function () {
			let boardsimg = $('#boardimg1');
			if (boardsimg.val() === '') {
				alert("이미지를 업로드 해주세요")
				return;
			}

			var boardImages = [];
			for (let i = 1; i <= imageInput[0].files.length; i++) {
				const imagePath = $('#boardimg' + i).val();
				if (imagePath !== null && imagePath !== '') {
					boardImages.push(imagePath);
				} else {
					// 이미지가 없으면 루프 종료
					break;
				}
			}



			$.ajax({
				url: apiURL,
				method: 'POST',
				contentType: 'application/json',
				data: JSON.stringify({
					boardimgs: boardImages,
					content: $('#content').val()
				})
			})
				.done(function (response) {
					createModal.modal('hide');
					updateBoardList();
				});


		});

		imageInput.on("change", function () {
			var formData = new FormData();
			const carouselInner = $('#carousel-inner');
			let a = 0;
			for (let i = 0; i < imageInput[0].files.length; i++) {
				let file = imageInput[0].files[i];
				formData.append('files', file);
				a = i + 1;
				if (i >= 1) {
					carouselInner.append(
						`<div class="carousel-item">` +
						`<img id="imagePreview${a}" class="d-block w-100" style="height: 300px;" src="">` +
						`<input type="hidden" id="boardimg${a}" name="boardimg${a}" value="">` +
						`</div>`
					);

				} else if (i == 0) {
					let imgdiv = document.getElementById('imgdiv');
					imgdiv.removeAttribute("hidden");
				}

				let imagePreviewtem = document.getElementById('imagePreview' + a);
				imagePreviewtem.src = URL.createObjectURL(file);


			}

			// 서버로 이미지 업로드
			$.ajax({
				url: apiURL + '/boardimg',
				method: 'POST',
				processData: false,
				contentType: false,
				data: formData,
				success: function (uniqueFileNames) {
					for (let i = 0; i < uniqueFileNames.length; i++) {
						let boardsimg = $('#boardimg' + (i + 1));
						boardsimg.val(uniqueFileNames[i]);
					}
				},
				error: function (xhr, status, error) {
					console.error(error);
				}
			});

		});




		// Modal 열기 버튼 클릭 이벤트 핸들러
		mainboard.on('click', '.show-details', function () {
			var boardid = $(this).data('boardid');
			showDetail(boardid);
		});
	});

</script>