body {
	margin: 0;
	padding: 0;

}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #FAEBCD	;
	padding: 10px;
	text-align: center;
	z-index: 100;

}

.sidebar {
	width: 20%;
	background-color: #f0f0f0;
	padding: 20px;
	box-sizing: border-box;
	position: fixed;
	top: 60px;
	
	bottom: 0;
	overflow-y: auto;
}

.content {
	width: 80%;
	
	padding: 20px;
	box-sizing: border-box;
	overflow-y: auto;
}

#mainboard {
	max-width: 50%;
	
	margin: 0 auto;
	margin-right: 10%;
	margin-top: 5%;
}