body {
	margin: 0;
	padding: 0;

}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #FAEBCD	;
	
	text-align: center;
	z-index: 100;

}
.containers{
	 
	display: flex;
}
.sidebar {
	width: 17%;
	background-color: #f0f0f0;
	padding: 20px;
	box-sizing: border-box;
	position: fixed;
	top: 6%;
	bottom: 0;
	overflow-y: auto;
}

.content {
	margin-top: 6%;
	 width: 83%;
	 margin-left: 17%; 
	padding: 20px;
	box-sizing: border-box;
	overflow-y: auto;
}

#mainboard {
	max-width: 50%;
	
	margin: 0 auto;
	
	
}