<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${pageName}|"></title>
</head>
<body>
    <div>
        <h1><a th:href="|/${loginType}|">[[${pageName}]]</a></h1> <hr/>
        <div th:if="${nickname == null}">
            <h3>로그인 되어있지 않습니다!</h3>
            <button th:onclick="|location.href='@{/{loginType}/join (loginType=${loginType})}'|">회원 가입</button> <br/><br/>
            <button th:onclick="|location.href='@{/{loginType}/login (loginType=${loginType})}'|">로그인</button>
        </div>
        <div th:unless="${nickname == null}">
            <h3>[[${nickname}]]님 환영합니다!</h3>
            <button th:onclick="|location.href='@{/{loginType}/info (loginType=${loginType})}'|">유저 정보</button> <br/><br/>
            <button th:onclick="|location.href='@{/{loginType}/admin (loginType=${loginType})}'|">관리자 페이지</button> <br/><br/>
            <button th:onclick="|location.href='@{/{loginType}/logout (loginType=${loginType})}'|">로그아웃</button>
            <button th:onclick="|location.href='@{/board/write}'|">게시물 작성</button>
        </div>
    </div>
    
    <div class="container" layout:fragment="content">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="col-md-1">번호</th>
            <th class="col-md-1">제목</th>
            <th class="col-md-1">작성자</th>
            <th class="col-md-1">작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boardList}">
            <td th:text="${board.boardid}"></td>
            <td><a th:href="@{/board/{boardid}(boardid=${board.boardid})}" th:text="${board.title}"></a></td>
            <td th:text="${board.nickname}"></td>
            <td th:text="${board.createdAt} ? ${#temporals.format(board.createdAt,'yyyy-MM-dd HH:mm')} : ${board.createdAt}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>