<!DOCTYPE html>
<html>
	<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	 <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
    <meta charset="UTF-8">
   
</head>
<body>

<div>
   
        <h2>로그인</h2>
        <form th:method="post" th:action="@{/login}" th:object="${userDTO}">
            <div>
                <label th:for="userid">로그인 아이디 : </label>
                <input type="text" th:field="*{userid}"/>
            </div>
            <br/>
            <div>
                <label th:for="password">비밀번호 : </label>
                <input type="password" th:field="*{password}"/>
            </div>
            <br/>
            <button type="submit">로그인</button>
          
        </form>
        <button type="button" class="btn btn-secondary" onclick="location.href='/signup'">회원가입</button>
    </div>


</body>
</html>